.side-bar-details-wrapper {
    background-color: $whiteColor;
    padding: 0.8rem;
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
    min-height: 3rem;
}

.side-bar-details {
    border-bottom: 0.1rem solid $lightGreyColor;
}

.side-bar-details-inner-wrapper div:last-child {
    border-bottom: none !important;
}

.sidebar-category-wrapper {
    height: 10rem;
    overflow-y: scroll;
}

.sidebar-search-category-input-wrapper {
    position: relative;
}

.sidebar-search-category-input {
    padding-left: 2.5rem;
    padding-right: 2.5rem;

    &:focus {
        background-color: transparent;
    }
}

.sidebar-search-category-icon-search {
    border: 0;
    position: absolute;
    z-index: 5;
    left: 0.8rem;
    top: 0.4rem;
}

.sidebar-search-category-icon-times {
    border: 0;
    position: absolute;
    z-index: 5;
    right: 0.8rem;
    top: 0.4rem;
    cursor: pointer;
}

.sidebar-category-link-wrapper a {
    display: block;
    width: 100%;
    color: $baseColor;
    text-decoration: none;
    background-color: $lighterGreyColor;
    margin-bottom: 0.5rem;

    &:hover {
        text-decoration: none;
        background-color: $lightGreyColor;
    }
}

.sidebar-category-span {
    display: inline-block;
    margin-bottom: 0.5rem;
    padding: 0.2rem 0.6rem !important;
    color: $blackColor;
}

@media (max-width: 991.98px) {
    .sidebar-category-link-wrapper a {
        padding: 1rem !important;
        font-size: medium;
    }
}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}