.comment-wrapper {
    background-color: $whiteColor;
    padding: 1rem;
    margin-bottom: 4rem;
}

.comment-form .comment-input-wrapper .comment-input {
    text-align: left;
    background-color: transparent;
    cursor: auto !important;
    border: 0;

    &:focus {
        border-color: #ced4da !important;
    }
}

.comment-or-reply-detail-head {
    font-size: 0.8rem;
    margin: 0;
}

.comment-or-reply-detail-date {
    font-size: 0.7rem;
}

.comment-total-reply-btn {
    font-size: 0.8rem !important;
    padding: 0.3rem 0.5rem !important;
    font-weight: bold !important;
    outline: none !important;
    background-color: transparent;
    color: $primaryColor;

    &:hover {
        background-color: $lightGreyColor;
        color: $primaryColorDark;
    }
}

.comment-total-reply-btn-active {
    background-color: $lighterGreyColor !important;
    color: $blackColor;
}

.comment-replies-wrapper {
    background-color: $lighterGreyColor;
    position: relative;
    margin-top: -0.2rem;
    padding: 0.8rem;
    min-height: 6rem;
}

.comment-reply-form-label-p {
    padding: 0;
    margin: 0;
}

//Existing-comment-or-reply COMPONENT
.existing-comment-or-reply-form-input-span-wrapper {
    display: inline-block;
    margin-top: -0.5rem;
}

.existing-comment-or-reply-form-input-span {
    display: inline-block;
    padding: 0;
    font-size: 0.8rem;
    padding-right: 0.3rem;
    font-weight: bold;
    color: $primaryColor;

}

.existing-comment-or-reply-form-input {
    border: 0;
    padding: 0 !important;
    color: $baseColor !important;
    background-color: transparent;
    cursor: text !important;
    text-align: left;
    font-size: 0.9rem;
    margin-top: -0.5rem;

    &:focus {
        border: 0;
        background-color: transparent;
        color: $baseColor !important;
    }
}

.existing-comment-or-reply-input-active {
    padding: 0.5rem !important;
    margin-top: 0;
    border-bottom: 0.1rem solid $blackColor !important;

    &:focus {
        border-bottom: 0.1rem solid $blackColor !important;
        color: $blackColor !important;
    }
}

.existing-comment-or-reply-btn-wrapper {
    position: relative;
}

.existing-comment-or-reply-ellipse-btn {
    color: $baseColor;
    opacity: 0.7;

    &:hover {
        color: $blackColor;
        background-color: $lightGreyColor;
        opacity: 1;
    }
}

.existing-comment-or-reply-ellipse-btn-active {
    color: $blackColor;
    background-color: $lightGreyColor;
    opacity: 1;
}

.existing-comment-or-reply-btn-wrapper .existing-comment-or-reply-action-btn-wrapper {
    position: absolute;
    left: -7rem;
    top: 2.4rem;
    background-color: $lightGreyColor;
    width: 7rem;
    z-index: 3;
    display: none;
}

.existing-comment-or-reply-btn-wrapper .existing-comment-or-reply-btn-wrapper-active {
    display: block;
}

.existing-comment-or-reply-btn-wrapper .existing-comment-or-reply-btn-wrapper-active section ul li:hover {
    opacity: 0.8;
}

.existing-comment-or-reply-form-input:hover~.input-group-append .existing-comment-or-reply-ellipse-btn,
.comment-or-reply-detail-head:hover~form .input-group-append .existing-comment-or-reply-ellipse-btn {
    color: $blackColor;
    background-color: $lightGreyColor;
    opacity: 1;
}

.reply-wrapper {
    background-color: $lightGreyColor;
    padding: 1rem;
    margin-bottom: 0.5rem;
}

.reply-wrapper .existing-comment-or-reply-input-active {
    background-color: $whiteColor;
}

.reply-body-wrapper {
    margin-bottom: 0.3rem;
    padding: 0.3rem;
    border-left: 0.3rem solid $primaryColor;
}

.replies-section-wrapper {
    margin-top: -1rem;
    margin-bottom: 1rem;
}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}