.visitors-card-wrapper table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    margin-top: 0.8rem;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
        0px 1px 2px 0px rgba(0, 0, 0, 0.24);
}

.visitors-card-wrapper table th {
    padding: 0.2rem;
    // text-align: center;
    background-color: $lightGreyColor;
    font-size: 0.9rem;
    padding-left: 0.5rem;
}

.visitors-card-wrapper table td {
    padding: 0.2rem;
    //text-align: center;
    font-size: 0.9rem;
    padding-left: 0.5rem;

}

.visitors-card-wrapper table tr {
    padding: 0.5rem;
}

.visitors-card-wrapper table tr:nth-child(even) {
    background-color: $lightGreyColor;
}


@media screen and (max-width: 991.98px) {


    .visitors-card-wrapper table {
        border: 0;
        box-shadow: none;
    }


    .visitors-card-wrapper table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .visitors-card-wrapper table tr {
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
            0px 1px 2px 0px rgba(0, 0, 0, 0.24);
        display: block;
        margin-bottom: .625em;
    }

    .visitors-card-wrapper table td {
        border-bottom: 1px solid $midGreyColor;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    .visitors-card-wrapper table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }

    .visitors-card-wrapper table td:last-child {
        border-bottom: 0;
    }
}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}