.about-detail-wrapper .Collapsible__trigger {
	color: $whiteColor;
}

.about-collapsed-heading {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0.4rem 0.8rem;
	font-weight: 400;
}

.about-detail-wrapper .Collapsible__contentInner {
	background-color: $whiteColor;
	padding: 0.8rem;
}

.about-detail-wrapper .Collapsible__trigger.is-open div span i {
	transform: rotate(180deg);
}

.about-h5-intro {
	cursor: pointer;
	display: inline-block;
	padding: 0.5rem;
	background-color: $primaryColor;
	color: $whiteColor;
	position: relative;
	margin-bottom: 1rem;
	z-index: 2;

}

.about-h5-intro.active {
	color: $baseColor;
	border: 0.1rem solid $midGreyColor;
	border-bottom: none;
	background-color: $whiteColor;
	margin-top: 1.3rem;

}

.about-centent-tabs .tab-content-wrapper-outter {
	display: none;

}

.tab-content-wrapper-outter .tab-content-wrapper-inner {
	padding: 0.5rem;
	border: 0.1rem solid $midGreyColor;
	z-index: 0;
	position: relative;
	margin-top: -1.1rem;
	background-color: $whiteColor;
}



.about-centent-tabs .tab-heading-mobile {
	display: none;
}

.about-arrow-up {
	display: none;
}

.project-detail {
	padding: 0.6rem;
	background-color: $whiteColor;
	margin-bottom: 1.5rem;
}

.source-link-wrapper {
	display: block;
}

.source-link-wrapper a {
	text-decoration: underline;
}

.w3c-link {
	text-decoration: underline;
	font-style: italic;

}

.tech-stack-name {
	font-size: 0.9rem;

}

.skill-detail span {
	font-weight: 600;
}

.skills-heading-p {

	font-size: 1.3rem;
	padding-top: 1rem;
}

.skills-detail-div {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}


@media (max-width: 991.98px) {

	.about-detail-wrapper {
		padding-top: 1rem;
	}
}

@media (max-width: 767.98px) {

	.tab-heading-desktop {
		display: none;
	}

	.about-centent-tabs .tab-heading-mobile {
		display: block;
		padding: 0.5rem;

	}

	.about-centent-tabs .tab-heading-mobile.active {
		background-color: $lightGreyColor;

	}

	.about-centent-tabs .tab-content-wrapper-outter {
		margin-bottom: 1.5rem;

	}



}



@media (max-width: 575.98px) {}