$primaryColorDark: #004F93;
$primaryColor: #3466F6;
$lightestGreyColor: #F5F5F6;
$lighterGreyColor: #f6f6f6;
$lightGreyColor: #e9e9e9;
$midGreyColor: #c2c2c2;
$darkGreyColor: #252525;
$blackColor: #000000;
$whiteColor: #ffffff;
$baseColor: #4c4c4c;
$dangerColor: #c10909;
$successColor: #05972c;
$primaryColorDarker: #131627;