$primaryColorDark: #004F93;
$primaryColor: #0058AB;
$lightestGreyColor: #f7f6f6;
$lighterGreyColor: #edebeb;
$lightGreyColor: #e4e1e1;
$midGreyColor: #c2c2c2;
$midDarkGreyColor: #A6A6A6;
$darkGreyColor: #252525;
$blackColor: #111111;
$whiteColor: #ffffff;
$baseColor: #4c4c4c;
$dangerColor: #c10909;
$successColor: #05972c;
$primaryColorDarker: #131627;