.current-visitor-sort-option-selected {
  margin-left: 0.3rem;
}

.current-visitor-sort-option-select-wrapper {
  border: 0.1rem solid $blackColor;
  margin-left: -0.8rem;
  margin-top: 0.4rem;
  overflow-y: hidden;
  padding-bottom: 0;
}

.current-visitor-sort-option-wrapper {
  margin-bottom: 0.6rem;
}




@media (max-width: 991.98px) {
  .current-visitor-sort-option-wrapper {
    margin-bottom: 1rem;
  }

  .current-visitors-wrapper .accordion-content ul {
    padding: 0.2rem 0.6rem;


  }
}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}