.form-wrapper {
  padding: 2rem;
  background-color: $lightGreyColor;
}



.form-wrapper label {
  font-weight: 600;
  font-size: 1rem;
  color: $blackColor;
}

.form-wrapper .optional {
  font-style: italic;
  font-size: 0.8rem;
  font-weight: normal;
}

.form-wrapper .selected-p {
  margin-top: -0.3rem;
  font-size: 1.1rem;

}

.form-wrapper .change-selected-btn {
  color: $whiteColor;
  background-color: $blackColor;
  padding: 0.2rem 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;

  &:hover {
    background-color: $darkGreyColor;
  }
}

.form-wrapper .backBtn {
  color: $whiteColor;
  background-color: $baseColor;
  padding: 0.2rem 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;

  &:hover {
    background-color: $darkGreyColor;
  }
}

.form-wrapper .negative-margin-top {
  margin-top: -1rem !important;
}

.form-wrapper .err-div {
  display: none;
}

.input-error {
  border-color: $dangerColor !important;
}

.password-visible-btn {
  cursor: pointer;
}

.not_in_my_house {
  position: absolute;
  /* don't bother other elements on the page */
  width: 0;
  /* small */
  height: 0;
  /* very small */
  margin: 0;
  /* tiny */
  padding: 0;
  /* very tiny */
  border: 0;
  /* tada */
}


.option-toggle-btn {
  padding: 0.3rem 0.6rem;
  background-color: $blackColor;
  color: $whiteColor;

  &:hover {
    background-color: $darkGreyColor;
    color: $whiteColor;
  }
}

.form-responds-msg {
  background-color: $whiteColor;
  text-align: center;
}

.fancy-input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.time-input-wrapper {
  display: block;
}

.time-input-wrapper * {
  display: inline-block;
  color: #555;
  vertical-align: middle
}

.mini_input {
  width: 4rem;
  box-shadow: none;
  background-color: $whiteColor;
  padding: 0.2rem 0 0.2rem 0;
  text-align: center;
  border: 1px solid #ccc;
}

.time-input-wrapper .colon {

  font-weight: bold;
  padding-left: 0.2rem;
  padding-right: 0.2rem;


}


@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}