header hr {
  margin: 0;
  padding: 0;
}

.date-time {
  font-size: 1.2rem;
  padding-top: 1.3rem;
}

@media (max-width: 991.98px) {
  .date-time {
    font-size: 1.1rem;
  }
}

@media (max-width: 767.98px) {
  .date-time {
    font-size: 1.08rem;
  }
}

@media (max-width: 575.98px) {
  .date-time {
    font-size: 1.06rem;
  }
}