header {
	width: 100%;
	position: relative;
	z-index: 5;
	margin: 0 !important;
	height: 3.4rem;
	background-color: $lighterGreyColor;
}

header .header-content-wrapper {
	display: flex;
	align-items: center;
}

header .header-content-wrapper .left-content-wrapper {
	order: 1;
	width: 15%;

}

header .header-content-wrapper .middle-content-wrapper {
	order: 2;
	width: 70%;
	line-height: 2.375rem;
}

header .header-content-wrapper .right-content-wrapper {
	order: 3;
	width: 15%;
}

/* Middle Nav Style */
header .header-content-wrapper .middle-content-wrapper ul li {
	float: right;
	margin-right: 0.3rem;
	margin-left: 0.9rem;
}

header .header-content-wrapper .middle-content-wrapper ul li a,
.contact-link {
	text-decoration: none;
	color: $baseColor;
	font-family: $hfontFamily;
	font-size: 1.1rem;
	cursor: pointer;

	&:hover {
		color: $darkGreyColor;
	}
}

.header-sticky {
	position: fixed;
	top: 0;
	background-color: $lightGreyColor;
}

.header-sticky .middle-content-wrapper ul li a {
	font-size: 1rem !important;

}

header .header-content-wrapper .middle-content-wrapper .header-nav-link.active {
	color: $blackColor;
	cursor: auto;
	font-weight: 500;

	&:hover {
		font-weight: 500;
	}
}

/* Right Nav Style */
header .header-content-wrapper .right-content-wrapper ul li {
	float: right;
	font-size: 1.1rem;
	padding-left: 1rem;
}

header .header-content-wrapper .right-content-wrapper .search-btn {
	background-color: transparent;
	font-size: 1.4rem;
	color: $baseColor;
	outline: none;

	&:hover {
		color: $darkGreyColor !important;
	}

}



header .header-content-wrapper .right-content-wrapper .header-account-link-loggedIn {
	color: $primaryColor !important;

	&:hover {
		color: $primaryColor !important;
	}
}

/* Style The Dropdown Button */

/* The container <div> - needed to position the dropdown content */
header .header-content-wrapper .right-content-wrapper .dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
header .header-content-wrapper .right-content-wrapper .dropdown-content {
	display: none;
	position: absolute;
	background-color: $whiteColor;
	min-width: 10rem;
	box-shadow: 0 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
	z-index: 5;
	text-align: left;
	top: 1.6rem;
	right: -0.3rem;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
}

header .header-content-wrapper .right-content-wrapper .dropdown-content .span-user-name {
	display: block;
	border-bottom: 0.1rem solid $midGreyColor;
	margin: 0.3rem 0rem;
	font-size: 0.9rem;
}

/* Links inside the dropdown */
header .header-content-wrapper .right-content-wrapper .dropdown-content a {
	color: $darkGreyColor;
	padding: 0.3rem 0.8rem;
	text-decoration: none;
	display: block;

	&:hover {
		background-color: $lighterGreyColor;
		color: $blackColor;
	}
}

/* Show the dropdown menu on hover */
header .header-content-wrapper .right-content-wrapper .dropdown:hover .dropdown-content {
	display: block;
}

header .header-content-wrapper .right-content-wrapper .dropdown a:hover+.dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
header .header-content-wrapper .right-content-wrapper .dropdown:hover .account-btn {
	background-color: $lighterGreyColor;
}

header .header-content-wrapper .right-content-wrapper .hello-user {
	padding: 0 0.6rem;
	color: $primaryColor;
}

@media (max-width: 991.98px) {
	header .header-content-wrapper .left-content-wrapper {
		order: 1;
		width: 50%;
	}

	header .header-content-wrapper .middle-content-wrapper {
		order: 2;
		// PUSH MENU
		width: 0;
		position: absolute;
		top: 4.6rem;
		left: 0;
		background-color: $whiteColor;
		border-top: 0.2rem solid $primaryColor;
		overflow-x: hidden;
		transition: 0.5s;
		box-shadow: 0 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
		z-index: 5;
		padding: 0;

	}

	header .header-content-wrapper .middle-content-wrapper ul {
		padding: 0;
		margin: 0;
		transform: rotate(180deg);
	}

	header .header-content-wrapper .open-mobile-menu {
		width: 100% !important;
	}

	header .header-content-wrapper .middle-content-wrapper ul li {
		float: none;
		padding: 0;
		margin: 0;
		transform: rotate(-180deg);

	}

	header .header-content-wrapper .middle-content-wrapper ul li a,
	.contact-link {
		color: $darkGreyColor;
		display: block;
		padding: 0.5rem;
		padding-left: 0.9rem;

		//border-bottom: 0.1rem solid $midGreyColor;
		&:hover {
			background-color: $lighterGreyColor;
			color: $blackColor;
		}
	}

	header .header-content-wrapper .middle-content-wrapper ul li:last-child a {
		border-bottom: none;
	}

	//toggle menu on and off class

	.menu-on {
		min-width: 100%;
	}

	.menu-off {
		min-width: 0;
	}

	header .header-content-wrapper .right-content-wrapper {
		order: 3;
		flex: 1;
	}

	header .header-content-wrapper .right-content-wrapper .account-link .dropdown {
		margin-top: 0.3rem;

	}

	header .header-content-wrapper .right-content-wrapper .menu-btn {
		background-color: transparent;
		font-size: 1.5rem;
		color: $darkGreyColor;
		margin-right: 0.8rem;
		outline: none;

	}
}

@media (max-width: 767.98px) {
	header .header-content-wrapper .right-content-wrapper .menu-btn {
		background-color: transparent;
	}
}

@media (max-width: 575.98px) {}