.project-detail,
.skill-detail {
    padding: 0.8rem;
    margin-bottom: 0.6rem;
    border-top: 0.1rem solid $primaryColor;
}

.skill-detail .skills-heading {
    color: $baseColor;
}

.skill-detail .all-skill-wrapper {
    font-size: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}


@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}