.local-search-wrapper {
    position: relative;
}

.local-search-icon {
    position: absolute;
    top: 0.3rem;
    z-index: 6;
    bottom: 0;
    left: 0.9rem;


}

.local-search-icon-times {
    position: absolute;
    top: 0.3rem;
    bottom: 0;
    z-index: 6;
    right: 0.9rem;
    cursor: pointer;
}

.local-search-wrapper .local-search-input {
    padding-left: 2.8rem;
    padding-right: 2.8rem;
}