.logo-wrapper {
	padding: 0;
	margin: 0;
	margin-top: -1.5rem;
}

.logo-wrapper a {
	text-decoration: none;
	font-weight: bolder;
	font-family: $hfontFamily;
	padding: 0;
	margin: 0;
	font-size: 1.6rem;
	text-transform: lowercase;
	color: $blackColor !important;

	&:hover {
		text-decoration: none;
	}
}

.logo-dot {
	font-weight: bolder;
	color: $primaryColor !important;
	font-size: 3rem;
}

.header-sticky .logo-dot {
	font-size: 2rem;
}

.header-sticky .logo-wrapper a {
	font-size: 1.4rem;

}

@media (max-width: 1280px) {}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}