.logo-wrapper {
	padding: 0;
	margin: 0;


}

.logo-wrapper a {
	text-decoration: none;
	font-weight: bolder;
	font-family: $hfontFamily;
	padding: 0.3rem 0.5rem;
	margin: 0;
	font-size: 1rem !important;
	text-transform: uppercase !important;
	color: $blackColor !important;
	background-color: $primaryColor !important;

	&:hover {
		text-decoration: none;
		text-decoration: none;
	}
}

// .logo-span {
// 	color: $whiteColor !important;
// 	font-size: 1.8rem !important;
// }

@media (max-width: 1280px) {}

@media (max-width: 991.98px) {
	// .logo-wrapper a {
	// 	font-size: 1.4rem;
	// }
}

@media (max-width: 767.98px) {
	// .logo-wrapper a {
	// 	font-size: 1.2rem;
	// }
}

@media (max-width: 575.98px) {
	// .logo-wrapper a {
	// 	font-size: 1.1rem;
	// }
}