.option-toggle-btn-wrapper {
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    overflow-y: scroll;
    height: 4rem;
    background-color: $whiteColor;
    border: 0.1rem solid #ccc;
    margin-bottom: 0.5rem;
}

.remove-selected {
    cursor: pointer;
}