.side-bar-wrapper .accordion-trigger {
    padding: 0.3rem 0.5rem;
    background-color: $whiteColor;
    border: 0.1rem solid $lightGreyColor;
}


.side-bar-wrapper ul {
    border: 0.1rem solid $lightGreyColor;
    padding: 0.8rem;
    border-top: none;
}

.side-bar-wrapper ul li {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    cursor: pointer;
    font-size: 1rem;


}

.side-bar-wrapper ul li:hover {
    color: $blackColor;
}

.side-bar-wrapper ul .menu-active {
    color: $midGreyColor;
    cursor: auto;

    &:hover {
        color: $midGreyColor;
    }
}

.side-bar-wrapper ul li a {

    color: $baseColor;

}

.side-bar-wrapper ul li a:hover {

    color: $blackColor;
    text-decoration: none;

}

@media (max-width: 991.98px) {
    .side-bar-wrapper ul li {
        float: left;
        margin-right: 0.8rem;
    }
}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}