*,
::after,
::before {
  box-sizing: border-box;
}

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

.bolded {
  font-weight: bold;
}

.box-shadow {
  border: 1px solid $midDarkGreyColor;
}

.icon-color {
  color: $primaryColor;
}

.text-color-black {
  color: $blackColor;
}

.no-border {
  border: 0;
  background: transparent;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-border-radius {
  border-radius: 0 !important;
}

.hide-on-desktop {
  display: none;
}

.show-on-desktop {
  display: block;
}

.primary-btn {
  padding: 0.5rem 0.8rem;
  background-color: $blackColor;
  color: $whiteColor;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: $darkGreyColor;
    color: $whiteColor;
    text-decoration: none;
  }

  &:focus {
    color: $whiteColor;
  }
}

.btn-full {
  width: 100% !important;
}

.view-more-link {
  color: $primaryColor;
  font-weight: 500;

  &:hover {
    color: $primaryColorDark;
  }
}

.disabled-btn {
  padding: 0.3rem 0.8rem;
  background-color: $lightGreyColor;
  color: $midGreyColor;
  cursor: auto !important;
  border: 1px solid $lightGreyColor;

  &:hover {
    background-color: $lightGreyColor;
    cursor: auto !important;
    color: $midGreyColor;
  }
}

.primary-link {
  color: $primaryColor;

  &:hover {
    color: $primaryColorDark;
  }
}

.backdrop-visible {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 3;
  transition: opacity 0.6s;
  background: $blackColor;
  opacity: 0.5;
}

.hide-on-all-screen {
  display: none;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.display-flex>[class*="col-"] {
  display: flex;
  flex-direction: column;
}

.bg-white {
  background-color: $whiteColor;
}

.result-detail-ul {
  font-size: 0.9rem;
  padding-left: 0.8rem;
  padding-top: 0.5rem;
}

.result-detail-ul li {
  font-size: 0.9rem;
  font-weight: 800;
  color: #333333;
}

.result-detail-ul li span {
  font-weight: normal;
  color: #555555;
}

.data-detail-wrapper {
  margin-top: 0.3rem;
  margin-bottom: 0.6rem;
  border: 0.1rem solid $midGreyColor;
  padding-top: 0.4rem;
  padding-bottom: 0.8rem;

}

.data-detail-wrapper .data-input {
  text-align: left !important;
  border-color: $lightGreyColor !important;
  cursor: text;
  color: $baseColor !important;
  background-color: $lightGreyColor;
  padding-left: 0.4rem !important;

  &:focus {
    border-color: $lightGreyColor !important;
  }
}

.data-detail-wrapper .data-input-active {
  text-align: left !important;
  border-color: $blackColor !important;
  color: $blackColor !important;
  background-color: $whiteColor;

  &:focus {
    border-color: $blackColor !important;
  }
}

@media (max-width: 991.98px) {
  .hide-on-mobile {
    display: none;
  }

  .show-on-mobile {
    display: block;
  }

  .mobile-margin-bottom {
    margin-bottom: 1.2rem;
  }
}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {
  .remove-left-right-padding-small-device {
    padding-left: 0;
    padding-right: 0;
  }

  .div-width-full {
    width: 100%;
  }

  .primary-btn {
    padding: 0.4rem 0.6rem;
    font-size: 0.8rem;
  }
}