//THis styles is to overide the MultiSelect plugin styles.

.custom-select-container {
    border: 0 !important;
    background-color: $whiteColor;
    padding: 0.4rem;
    overflow-y: scroll;
    height: 10rem;

    &:focus {
        border: 0 !important;
    }
}

.custom-select-container .span-wrapper {
    padding: 0.6rem;
    display: block;
    cursor: default;
    margin-bottom: 0.3rem;
    cursor: pointer;

    &:hover {
        background-color: $lighterGreyColor;
    }
}

.custom-select-container .value-selected {
    background-color: $lighterGreyColor;

}

.custom-select-container .value-selected:after {
    content: '\2713';
    display: inline-block;
    color: $primaryColor;
    padding: 0 0 0 0.6rem;
    font-weight: bolder;
    font-size: 1.2rem;
}