// Create post style
.preview-input-images-wrapper {
  background-color: $whiteColor;
  min-height: 5rem;
}

.upload-label {
  padding: 0.1rem 2rem;
  cursor: pointer;
  background-color: $darkGreyColor;
  color: $whiteColor !important;

  &:hover {
    opacity: 0.9;
  }
}

.editor-preview-wrapper {
  background-color: $whiteColor;
  padding: 1rem;
}

.remove-image-badge-wrapper {
  position: relative;
}

.remove-image-badge {
  position: absolute;
  cursor: pointer;
  right: 0;
  padding: 0.5rem 0.8rem;
}

//All post styles
.action-btn-wrapper {
  position: relative;
}

.btn-wrapper {
  position: absolute;
  right: 0;
}

.admin-page-intro-btn-wrapper {
  text-align: right;
}

@media (max-width: 1280px) {}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {
  .admin-page-intro-btn-wrapper {
    text-align: left;
  }
}

@media (max-width: 575.98px) {}